{% extends 'base.html.twig' %}

{% block title %}Absolute Cleaning
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>
			Absolute cleaning vous souhaite la bienvenue !</h1>

		<p>
			Absolute cleaning est une entreprise de nettoyage haute pression basée sur la côte d'azur conçue pour vos besoins de rénovation. 
            Nous restaurons une large variété de surfaces et sommes fiers de fournir des services de nettoyage de qualité 
            pour répondre aux besoins spécifiques des clients
		</p>
        <p>
			Absolute cleaning est une entreprise de nettoyage haute pression basée sur la côte d'azur conçue pour vos besoins de rénovation. 
            Nous restaurons une large variété de surfaces et sommes fiers de fournir des services de nettoyage de qualité 
            pour répondre aux besoins spécifiques des clients
		</p>

	</div>
{% endblock %}
