{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}

<body class="bg-dark text-white">                        
    <div class="col-md-10 col-lg-8 mx-auto text-center">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-8">
                <div class="container mt-5">

                    <p>
                        Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>

                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
